*{
    padding : 0;
    margin:0;
    box-sizing:border-box;
}

.hide{
    display: none;
}body{
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #cffafe, #22d3ee);
}
.header-img{
    display: flex;
    width: 100%;
    max-width:300px;
    margin-bottom:0px;
    margin-inline: auto;
    filter: drop-shadow(5px 5px 20px rgba(0,0,0,0.2));
    object-fit: cover;
}
.container{
    flex:1;
    position:relative;
    isolation: isolate;
    width:100%;
    max-width:1200px;
    margin-inline: auto;

}
@media (min-width: 780px){
    .name{
        top: 20%;
        left: 3.7rem; 

    }
}
.name{
    position:absolute;
    top: 7%;
    left: 3.7rem;
    font-family: 'Poppins', sans-serif; /* Choose a rounded font */
    font-size: 2.3rem; /* Adjust size */
    color:  #ff6f91; /* Light pink inner color */
    -webkit-text-stroke: 2px #ffb6c1; /* Outline stroke */
    text-transform: uppercase; /* Capitalize text */
    text-align: center;
    font-weight: bold;
}
.image-1,.image-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-1{
    border-radius: 7px;
    width: 175px;
    
}
.image-2{
    width: 250px;
}
.btn{
    position: absolute;
    top: calc(100% - 5rem);
    min-width: 120px;
    padding: .75rem 1rem;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color:#f8fafc ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    cursor:pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #e2e8f0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.btn-yes{
    left: 50%;
    transform: translateX(calc(-100% - 1rem));
    z-index:1;
}
.btn-no{
    left: calc(50% + 1rem);
    transition: all 0.5s ease;
    z-index:2;
}